:root{
    --color-primary: #27AE60;
    --color-secundary:#EB5757;
    --color-grey-600:#333333;
    --color-grey-400:#BDBDBD;
    --color-grey-300:#828282;
    --color-grey-100:#E0E0E0;
    --color-grey-0:#F5F5F5;
    --negative: #E60000;
    --warning:#FFCD07;
    --sucess:#168821;
    --information: #155BCB;
    --font-family: 'Inter', sans-serif;
}